.filter{
    margin-bottom: 32px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table th,
table td{
    padding: 8px 4px;
    text-align: left;
}
table th{
    background-color: #A6B7B5;
    color: #fff;
}
table tr{
    border-bottom: 1px solid #E8E8E8;
}
table tr:last-child {
    border-bottom: none;
}