aside{
    background-color: #FAFAFA;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    height: 100%;
    padding: 32px 0 32px 64px;
}
aside ul{

}
aside ul .box{
    padding: 12px 16px 12px 16px;
    margin: 0 16px 8px 0;
    display: flex;
    list-style-type: none;
    border-radius: 8px;
    transition: background-color 0.1s ease;
}
aside ul .box:hover{
    background-color: #E8E8E8;
}
aside ul .box svg{
    width: 20px;
    height: 20px;
    margin-right: 16px;
}
aside ul .box .li{
    font-size: 16px;
}