<footer>
    <div class="items">
        <div class="top">
            <h1>RE</h1>
            <img src="../../../assets/isotype.png" alt="ReVive isotype">
            <h1>VIVE</h1>
        </div>
        <div class="bottom">
            <div class="left">
                <img src="../../../assets/logo.png" alt="ReVive logotype">
                <p>Recicla, gana y reutiliza<br>para un futuro sostenible.</p>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="right">
                <div class="column">
                    <h3>Empresa</h3>
                    <ul>
                        <li><a routerLink="/features">Features</a></li>
                        <li><a routerLink="/contact-us">ContactUs</a></li>
                        <li><a routerLink="/faqs">Faqs</a></li>
                        <li><a routerLink="/blog">Blog</a></li>
                    </ul>
                </div>
                <!-- <div class="column">
                    <h3>Resources</h3>
                    <ul>
                        <li><a routerLink="/visual-sales">Visual Sales</a></li>
                        <li><a routerLink="/trend-analysis">Trend Analysis</a></li>
                        <li><a routerLink="/real-time">Real Time</a></li>
                    </ul>
                </div> -->
                <div class="column">
                    <h3>Contacto</h3>
                    <ul>
                        <li>Lleida, Paseo Ronda 3</li>
                        <li>revivegmail.com</li>
                        <li>+34 634 32 23 71</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="lower">
            <p>© 2025 Revive. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>