.filter{
    margin-bottom: 32px;
}
table{
    width: 100%;
    border-radius: 8px;
    border-collapse: collapse;
}
table th,
table td{
    padding: 8px 4px;
    text-align: left;
}
table th{
    background-color: #F7F7F7;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}
table tr:nth-child(odd) {
    background-color: #F7F7F7;
}