<header>
    <div class="center">
        <div class="left">
            <a routerLink="/">
                <img src="../../../assets/logo.png" alt="ReVive isotype">
            </a>
        </div>
        <div class="right">
            <nav>
                <ul>
                    <!-- User -->
                    <li><a routerLink="/dashboard">Panel general</a></li>
                    <li><a routerLink="/perfile">Perfil</a></li>
                    <li><a routerLink="/settings">Ajustes</a></li>
                    <li><a routerLink="/home">Inicio</a></li>

                    <!-- Guest -->
                    <li><a routerLink="/products">Productos</a></li>
                    <li><a routerLink="/about">Sobre nosotros</a></li>
                    <li><a routerLink="/map">Ubicaciones</a></li>

                    <li><a routerLink="/login" class="active">Conectarse</a></li>
                    <li><a routerLink="/">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
