<header>
    <div class="center">
        <div class="left">
            <a routerLink="/"><h4>ReVive</h4></a>
        </div>
        <div class="right">
            <nav>
                <ul>
                    <!-- User -->
                    <a routerLink="/perfile"><li>Perfil</li></a>
                    <a routerLink="/settings"><li>Ajustes</li></a>

                    <!-- Guest -->
                    <a routerLink="/objects"><li>Objectos</li></a>
                    <a routerLink="/about"><li>Sobre nosotros</li></a>
                    <a routerLink="/map"><li>Ubicaciones</li></a>

                    <a routerLink="/login"><li class="active">Conectarse</li></a>
                </ul>
            </nav>
        </div>
    </div>
</header>
