header{
    width: 100%;
    padding: 32px 0;
    border-bottom: 1px solid #E8E8E8;
}
header .center{
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 1fr;
}
header .center .left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header .center .left a h4{
    font-size: 32px;
    color: #000;
}
header .center .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .center .right nav{
    
}
header .center .right nav ul{
    display: flex;
    gap: 16px;
}
header .center .right nav ul a li{
    color: #36615A;
    font-size: 18px;
    list-style-type: none;
}
