<div class="grid">
    <div class="box" id="b1">
        <span class="title">(title)</span>
        <span class="number">0</span>
    </div>
    <div class="box" id="b2">
        <span class="title">(title)</span>
        <span class="number">0</span>
    </div>
    <div class="box" id="b3">
        <span class="title">(title)</span>
        <span class="number">0</span>
    </div>
    <div class="box" id="b4">
        <span class="title">(title)</span>
        <span class="number">0</span>
    </div>
</div>
