<app-overview [title]="title" [description]="description"/>
<app-filters/>
<section class="map">
    <div class="grid">
        @for (location of locations; let index = $index; track index)
        {
            <a routerLink="{{ location.url }}">
                <div class="box">
                    <img [src]="location.image">
                    <div class="info">
                        <span class="title">{{ location.title }}</span>
                        <span class="subtitle">{{ location.subtitle }}</span>
                    </div>
                </div>
            </a>
        }
    </div>
</section>
