<app-overview [title]="title" [description]="description"/>
<app-filters/>
<section class="map">
    <div class="grid">
        <a routerLink="/">
            <div class="box">
                
            </div>
        </a>
        <a routerLink="/">
            <div class="box">
                
            </div>
        </a>
        <a routerLink="/">
            <div class="box">
                
            </div>
        </a>
        <a routerLink="/">
            <div class="box">
                
            </div>
        </a>
        <a routerLink="/">
            <div class="box">
                
            </div>
        </a>
        <a routerLink="/">
            <div class="box">
                
            </div>
        </a>
    </div>
</section>
