<div class="register">
    <div class="center">
        <h2>Crear una cuenta</h2>
        <form>
            <input type="text" placeholder="Usuario" required>
            <input type="text" placeholder="Nombre" required>
            <input type="text" placeholder="Apellido 2" required>
            <input type="text" placeholder="Apellido 1" required>
            <input type="text" placeholder="Correo" required>
            <input type="password" placeholder="Contraseña" required>
            <input type="password" placeholder="Contraseña" required>
            <button class="btn" type="submit">Crear una cuenta</button>
        </form>
        <a routerLink="/login" class="login-link">Ya tienes cuenta? Iniciar sesión</a>
    </div>
</div>